:root {
  color-scheme: light dark;
  background-color: #242424;
  color: white;
  margin: 0;
  padding: 0;
  --color-uses: #24242483;

}

nav {
  position: relative;
  background-color: #24242483;
  box-shadow: 0 0 10px black;
  min-height: 230px;
}

nav .nav-container {
  position: absolute;
  display: grid;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  place-items: center;
  place-content: center;

}

nav .nav-container .logo-container {
  padding: 0 50px;
  margin: 0 auto;
}

nav .nav-container .logo-container h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.592);
  cursor: pointer;
  border-radius: .1em;
  padding: 5px;
  border: 1px solid rgb(248, 64, 64);
  transition: 200ms ease-in;
}

nav .nav-container .logo-container h2:hover {
  color: rgb(248, 64, 64);
  padding: 10px;
  border-radius: 0;
}

nav .nav-container .logo-container span {
  color: rgb(248, 64, 64);
}

nav .nav-container .links-container {
  display: flex;
  cursor: pointer;
  gap: 200px;
}

nav .nav-container .links-container a {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: x-large;
  height: fit-content;
  color: rgba(255, 255, 255, 0.592);
  padding: 10px 0;
  transition: 350ms ease-in-out;

}

nav .nav-container .links-container a:hover {
  color: white;
}

nav .nav-container .links-container a::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  bottom: 0;
  float: left;
  background-color: white;
  height: 1%;
  box-shadow: 0 0 10px white;
  transition: 350ms ease-in-out;

}

nav .nav-container .links-container a:hover::before {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.nav-container .links-container .switch input {
  display: none;
}

.nav-container .links-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-container .links-container .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-container .links-container input:checked+.slider {
  background-color: black;
}

.nav-container .links-container input:focus+.slider {
  box-shadow: 0 0 1px black;
}

.nav-container .links-container input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.nav-container .links-container .slider.round {
  border-radius: 34px;
}

.nav-container .links-container .slider.round:before {
  border-radius: 50%;
}

.nav-container .appearance {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-container .appearance i {
  font-size: x-large;
}

section {
  position: relative;
  top: 300px;
}



section .hero-container .mp3-mp4-container {
  position: absolute;
  display: grid;
  background-color: rgba(248, 64, 64, 0.722);
  width: 100%;
  box-shadow: inset 0 0 10px rgb(248, 64, 64);
  padding: 150px 10px;
  margin-left: -10px;

  gap: 50px;
  place-items: center;
}

section .hero-container .mp3-mp4-container h2 {
  font-family: sans-serif;
  font-weight: 300;
}

section .hero-container .mp3-mp4-container input {
  padding: 20px;
  width: 390px;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(248, 64, 64);
  box-shadow: 0 0 10px black;
  border-radius: .5em;
  transition: 350ms ease-in-out;
}

section .hero-container .mp3-mp4-container input:focus {

  width: 550px;
}

section .hero-container .mp3-mp4-container button {
  width: fit-content;
  padding: 15px 25px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: large;
  font-weight: 300;
  border-radius: .3em;
  box-shadow: 0 0 5px black;
  transition: 350ms ease-in-out;
}

section .hero-container .mp3-mp4-container button:hover {
  color: rgb(248, 64, 64);
}

section .hero-container .mp3-mp4-container div {
  text-align: center;
}

section .hero-container .mp3-mp4-container div h3 {
  font-weight: 300;
}

section .hero-container .mp3-mp4-container span {
  color: rgb(248, 64, 64);
}

section .hero-container .mp3-mp4-container a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 10px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.592);
  padding: 10px;
  color: #242424;
  box-shadow: 0 0 10px black;

  border-radius: .3em;
  transition: 350ms ease-in-out;
}

section .hero-container .mp3-mp4-container a:hover {
  color: rgb(248, 64, 64);
  transform: scale(1.15);
  border-radius: .5em;
}

section .hero-container .uses {
  display: grid;
  position: relative;
  width: 100%;
  margin: 0 10px;
  gap: 30px;
  top: 700px;
  float: left;
}

section .hero-container .uses h2 {
  color: rgb(248, 64, 64);
  border: 1px solid rgb(248, 64, 64);
  padding: 10px;
  box-shadow: 0 0 10px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 300;
  border-radius: .1em;
}

section .hero-container .uses #title {
  place-self: center;
  box-shadow: 0;
  animation: glow 1s ease-in-out alternate infinite;

}

@keyframes glow {
  0% {
    box-shadow: inset 0 0 3px rgb(248, 64, 64);
  }

  100% {
    box-shadow: inset 0 0 9px rgb(248, 64, 64);
  }
}

section .hero-container .uses div {
  display: grid;
  align-items: center;
  width: fit-content;
  text-align: left;
  gap: 20px;
}

section .hero-container .uses div h2 {
  position: relative;
  color: var(--color-uses);
  font-family: sans-serif;
  font-weight: 300;
  box-shadow: none;
  border: none;
  font-size: x-large;
  width: fit-content;

  padding-bottom: 10px;
}

section .hero-container .uses div h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-shadow: 0 0 10px var(--color-uses);
  width: 100%;
  height: 1px;
  background-color: var(--color-uses);
  bottom: 0;
  float: left;
  animation: underline1 1s ease-in-out alternate infinite;
}

@keyframes underline1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(2px);
  }

}

section .hero-container .uses div h3 {
  font-weight: 300;

}

section .hero-container .features {
  display: flex;
  position: relative;
  width: 100%;
  top: 900px;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

section .hero-container .features h2 {
  position: relative;
  color: rgb(248, 64, 64);
  font-weight: 300;
  font-size: xx-large;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;

}

section .hero-container .features h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(248, 64, 64);
  bottom: 0;
  float: left;
  animation: underline2 1s ease-in-out alternate infinite;
}

@keyframes underline2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5px);
  }

}

section .hero-container .features .features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(248, 64, 64);
  padding: 10px;
  width: 40%;
  -moz-box-shadow: inset 0 -10px 10px -10px rgb(248, 64, 64);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgb(248, 64, 64);
  box-shadow: inset 0 -10px 10px -10px rgb(248, 64, 64);

}

section .hero-container .features .features-container div {
  display: grid;
  gap: 20px;
  text-align: center;

}

section .hero-container .features .features-container div h3 {
  font-weight: 300;
  font-family: sans-serif;
  font-size: x-large;
}

section .hero-container .features .features-container div h3 i {
  color: rgb(248, 64, 64);
}

section {
  padding-bottom: 200px;
}

footer {
  position: relative;
  margin-top: 130vh;
  background-color: #24242483;
  box-shadow: 0 0 10px black;
  height: 200px;
  width: 100%;
  padding: 20px 8px;
  margin-left: -10px;

}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  text-align: center;

}

footer .footer-container .about h2 {
  color: rgb(248, 64, 64);
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(248, 64, 64);
  padding-bottom: 5px;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 6px 8px -8px rgb(248, 64, 64);
}

footer .footer-container .about h3 {
  font-weight: 300;
  font-family: sans-serif;
  line-height: 35px;
  color: white;
}

footer .footer-container .footer-links {
  display: grid;
  gap: 20px;
}

footer .footer-container .footer-links a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: x-large;
  font-family: sans-serif;
  cursor: pointer;
}

footer .footer-container .footer-links a:hover {
  color: rgba(248, 64, 64, 0.534);
  text-decoration: underline;
}

footer .footer-container .otherspro a {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  transition: 200ms ease-in-out;

}

footer .footer-container .otherspro {
  display: grid;
  gap: 10px;
  padding: 10px;

}

footer .footer-container .otherspro img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
  transition: 350ms ease-in-out;
}

footer .footer-container .otherspro img:hover {
  transform: scale(1.1);
}

footer .footer-container .otherspro h2 {
  color: rgb(248, 64, 64);
  font-weight: 300;
  box-shadow: 0 0 3px black;
  font-family: sans-serif;
  background-color: #242424;
  padding: 10px;
  border-radius: .3em;
  font-size: large;
  animation: glowing 1s ease-in-out alternate infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px black;
  }

  100% {
    box-shadow: 0 0 10px rgb(248, 64, 64);
  }

}


.contact-sec {
  position: relative;
  top: 700px;
}

.contact-sec .contact-container {
  display: grid;
  margin: auto;
  text-align: center;
  width: fit-content;
  gap: 70px;
  transform: scale(1.3);
}

.contact-sec .contact-container .contacttitle {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  width: fit-content;
  color: rgba(248, 64, 64, 0.722);
  padding: 10px;
  margin: 0 auto;
  box-shadow: inset 0 0 3px rgb(248, 64, 64);
  border: 1px solid rgb(248, 64, 64);
}

.contact-sec .contact-container form {
  display: grid;
  margin: auto;
  text-align: center;
  width: fit-content;
  gap: 10Px;
}

.contact-sec .contact-container form h2 {
  color: rgb(248, 64, 64);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: x-large;
}

.contact-sec .contact-container form input {
  border: 1px solid transparent;
  outline: none;
  padding: 10px 50px;
  border-radius: .3em;
  box-shadow: 0 0 10px black;
  transition: 350ms ease-in-out;
}


.contact-sec .contact-container form input:focus {
  border: 1px solid rgb(248, 64, 64);
}

.contact-sec .contact-container form textarea {
  outline: none;
  border: 1px solid transparent;
  width: 500px;
  height: 300px;
  border-radius: .5em;
  box-shadow: 0 0 5px black;
  transition: 350ms ease-in-out;
}

.contact-sec .contact-container form textarea:focus {
  border: 1px solid rgb(248, 64, 64);
}

.contact-sec .contact-container form button {
  width: fit-content;
  margin: 50px auto;
  border: none;
  padding: 20px 50px;
  color: rgb(248, 64, 64);
  border-radius: .3em;
  cursor: pointer;
  font-family: sans-serif;
  font-size: medium;
  box-shadow: 0 0 10px black;
  transition: 350ms ease-in-out;

}

.contact-sec .contact-container form button:hover {
  border-radius: .5em;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(248, 64, 64);
}

.faq-section .faq-container {
  position: relative;
  top: 100px;
  display: grid;
  margin: 10px;
  gap: 50px;
}

.faq-section .faq-container h2 {
  color: rgb(248, 64, 64);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  border-bottom: 1px solid rgb(248, 64, 64);
  padding-bottom: 5px;
  width: fit-content;
}

.faq-section .faq-container h3 {
  font-weight: 300;
  font-family: sans-serif;
}


@media (max-width:1500px) {


  nav .nav-container .links-container {
    display: flex;
    gap: 70px;
  }



}